

#main {
flex: 2;
}
h1 {
  color: blue;
  padding: 5px;
}
td {
  color: darkblue;
  border-color: darkblue;
}
#subscriberEmail {
  background-color: bisque;
}
#myId {
  text-align: center;
  color: rgb(94, 214, 14);
}
#myIdP {
  text-align: center;
  color: rgb(214, 41, 14);
}
.favorite {
  font-weight: bold;
  color: blue;
}
.card {
  border-radius: 10px;
  border: 4px dashed coral;
  background-color: rgb(0, 217, 255);
  box-shadow: 0 4px 8px 0 rgba(30, 9, 155, 0.2);
  transition: 0.3s;
  padding: 0px 10px 0 10px;
  margin: 0 0 10px 0;
}
.card1 {
  border-radius: 10px;
  border: 4px dashed rgb(255, 106, 80);
  background-color: antiquewhite;
  box-shadow: 0 10px 8px 0 rgba(223, 21, 21, 0.2);
  transition: 0.3s;
  margin: 0 0 10px 0;
}
.card2 {
  
  background-color: antiquewhite;
  box-shadow: 0 10px 8px 0 rgba(223, 21, 21, 0.2);
  transition: 0.3s;
  margin: 0 0 10px 0;
}
.container {
  padding: 2px 16px;
}
#top-menu-bar{
    text-align: center;
    background-color: #e89612;
    color: #fff;
}
#top-menu-bar li {
    display: inline-block;
    margin: 0;
    padding: 0;
}
#top-menu-bar a {
    text-decoration: none;
    display: inline-block;
    padding: 0 15px 15px;
    color: rgb(186, 20, 223);
}
#top-menu-bar a :visited{
   color: #fff; 
}
#top-menu-bar a:hover{
    color: #334455;
    background: #fff;
}